/* Main */
body {
  font-family: Arial;
}

fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 4px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px groove (internal value);
  width: 150px;
}

/* Village */
.dorf {
  border: 0.2em solid #000000;
  background-color: #485743;
  width: 48.5em;
  height: 29.5em;
  position: relative;
  font-family: sans-serif;
}

.target {
  width: 3em;
  height: 3em;
  padding: 1em;
  position: absolute;
}

.house {
  border: 5px solid #FFE282;
  height: 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background-color: var(--clr);
  margin: 17px -5px;
  font-size: 25px;
  --standard-clr: #FFE282;
  --clr: var(--standard-clr);
}

.house>div:first-child {
  position: absolute;
  top: -13px;
  left: -29px;
  border-left: 10px solid #642850;
  border-top: 10px solid #642850;
  background: linear-gradient(to left top, transparent 50%, #FFE282 50%);
  height: 43px;
  width: 43px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform-origin: 100% 100%;
  z-index: 1;
}

.house>div>div {
  background: linear-gradient(to left top, transparent 50%, var(--clr) 50%);
  border-left: 5px solid rgb(255, 226, 130);
  border-top: 5px solid rgb(255, 226, 130);
  width: 79%;
  height: 79%;
}

.house_on.house {
  --house-clr: var(--standard-clr);
  --clr: var(--house-clr);
}

.house>b {
  z-index: 2;
  position: inherit;
}

/* Tabs */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

fieldset {
  width: auto;
  max-height: 500px;
  overflow-y: auto;
}

table tr td:first-child {
  width: 140px;
}

table.horizontal tr td:first-child {
  width: auto;
}

input,
select {
  width: 120px;
  margin: 6px 6px 6px 6px;
}

input[type=checkbox] {
  width: auto;
}

input[type=submit] {
  width: 180px;
  float: left;
}

input[type="color"] {
  width: 127px;
}

input[type="range"] {
  width: 200px;
}

select {
  width: 128px;
}

textarea {
  width: 95%;
}

/* Lampentests */

/* Farben */

/* Einstellungen */

/* Schalter */
.switch_invisible {
  display: none;
}

/* Windmill */
#windmill_app_id {
  width: 230px;
}

/* Loading Screen */
.loading_container {
  width: 800px;
  height: 480px;
  position: relative;
  padding-top: 10px;
}

.loading_animation,
.loading_picture {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.loading_animation {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  z-index: 10;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}